.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .m-mat-grid-tile {
    background: rgb(224, 220, 220);
  }
  .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
    table, td  {
      border: 1px solid rgb(3, 3, 3);
      border-collapse: collapse;
      padding: 5px;
    }
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
    table tr:nth-child(odd) {
      background-color:rgb(221, 56, 56);
          
        }
        
        table tr:nth-child(even) {
          background-color: #ffffff;
        }