<mat-tab-group>

    <mat-tab label="Add Rider"> 
        <mat-toolbar>
          <span class="fill-remaining-space"></span>
          <span>Add New Rider</span>
          <span class="fill-remaining-space"></span>
        </mat-toolbar>

        <app-delivery-add-rider></app-delivery-add-rider>
     
    </mat-tab>


    <mat-tab label="Rider List">
      <mat-toolbar>
          <span class="fill-remaining-space"></span>
          <span>Rider List</span>
          <span class="fill-remaining-space"></span>
      </mat-toolbar>
  
      <app-delivery-rider-list></app-delivery-rider-list>
         
    </mat-tab>


    <mat-tab label="Allocate Rider">
      <mat-toolbar>
              <span class="fill-remaining-space"></span>
              <span>Allocate New Rider</span>
              <span class="fill-remaining-space"></span>
      </mat-toolbar>

      <app-delivery-allocate-rider></app-delivery-allocate-rider>           
  
    </mat-tab>

    <mat-tab label="Delivery Report">
      <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>Delivery Report</span>
        <span class="fill-remaining-space"></span>
      </mat-toolbar>

      <app-delivery-report></app-delivery-report> 
  
    </mat-tab>
  

<!--<app-delivery-rider-list></app-delivery-rider-list>
    <app-delivery-allocate-rider></app-delivery-allocate-rider>
    <app-delivery-report></app-delivery-report>-->
    
  </mat-tab-group>




  
