   

<div class="search-div">

  <button mat-raised-button (click)="onCreate()">

    <mat-icon>add</mat-icon>Create

  </button>

  <mat-form-field class="search-form-field" floatLabel="never">

    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">

    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">

      <mat-icon>close</mat-icon>

    </button>

  </mat-form-field>

</div>

<div class="mat-elevation-z8 table">

    <mat-table DataPreview [dataSource]="listData" multiTemplateDataRows  matSort width = "100%">
  
      <ng-container matColumnDef="supName">
  
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Supplier Name</mat-header-cell>
  
        <mat-cell *matCellDef="let element">{{element.supName}}</mat-cell>
  
      </ng-container>

      <ng-container matColumnDef="compName">

        <mat-header-cell *matHeaderCellDef  mat-sort-header>Company Name</mat-header-cell>
  
        <mat-cell *matCellDef="let element">{{element.compName}}</mat-cell>
  
      </ng-container>

      <ng-container matColumnDef="email">

        <mat-header-cell *matHeaderCellDef  mat-sort-header>Email</mat-header-cell>
  
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
  
      </ng-container>
  
      <ng-container matColumnDef="mobile">
  
        <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
  
        <mat-cell *matCellDef="let element">{{element.mobile}}</mat-cell>
  
      </ng-container>

      <ng-container matColumnDef="address">

        <mat-header-cell *matHeaderCellDef  mat-sort-header>Address</mat-header-cell>
  
        <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
  
      </ng-container>

      <ng-container matColumnDef="payment">

        <mat-header-cell *matHeaderCellDef  mat-sort-header>Payment</mat-header-cell>
  
        <mat-cell *matCellDef="let element">{{element.payment}}</mat-cell>
  
      </ng-container>

      
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>
  
      <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   -->
      
   <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
         <div class="example-element-detail"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <span class="fill-remaining-space"></span>
              <table style="width:100%; align-content:center;" class="abc" >
                  <span class="fill-remaining-space"></span>
                  <tr>                   
                     <td ><mat-icon>call</mat-icon></td> <td>  <p>{{element.mobile}}</p></td>                      
                 </tr>
                 <tr>
                    <td><mat-icon>mail</mat-icon> </td> <td>  <p>{{element.email}}</p></td>
                 </tr>
                 <tr>
                   <td><mat-icon>location_city</mat-icon> </td> <td>  <p>{{element.address}}</p></td>
                </tr>
          </table>  
        
         </div>
      </mat-cell>
   </ng-container>












   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"
                                         class="example-element-row"
                                         [class.example-expanded-row]="expandedElement === row"
                                         (click)="expandedElement = row"
                                     ></mat-row>
   <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>










    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

    
  
  </div>
  






  