
<mat-toolbar>
    <span>{{service.form.controls['$key'].value?"Modify Promocode":"New Promotion Code"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  
  <form [formGroup]="service.form" class="normal-form" (submit)= "onSubmit()">
      <mat-grid-list cols="1" rowHeight="300px">
        <mat-grid-tile>
          <div class="controles-container2">
            <input type="hidden" formControlName="$key">
            
            <mat-form-field>
                  <input formControlName="promocode" matInput placeholder="Enter the Promotion Code">
            </mat-form-field>
            <mat-form-field>
                    <input formControlName="discount" matInput placeholder=" Enter a valid percentage value" type="number" required minlength="1" pattern=".{1,2}">
                    <mat-error *ngIf="service.form.controls['discount'].errors?.required">Please enter the percentage value for the discount
                    </mat-error>

            </mat-form-field>
            <mat-form-field>
              <input formControlName="dateAdded" matInput [matDatepicker]="picker" placeholder="Choose a date" 
                  
                    [min]="minFromDate" 
                     [max]="maxToDate" >
              <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="controles-container">
  
            <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>

        </div>       
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  
  
     
     
  