
<div class="search-div">

  <button mat-raised-button (click)="onCreate()">

    <mat-icon>add</mat-icon>Create

  </button>

  <mat-form-field class="search-form-field" floatLabel="never">

    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">

    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">

      <mat-icon>close</mat-icon>

    </button>

  </mat-form-field>

</div>

<div class="mat-elevation-z8 table">

    <mat-table DataPreview [dataSource]="listData" multiTemplateDataRows  matSort width = "100%">
  
      <ng-container matColumnDef="promoName">
  
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Promotion Name</mat-header-cell>
  
        <mat-cell *matCellDef="let element">{{element.promoName}}</mat-cell>
  
      </ng-container>

      <ng-container matColumnDef="percentage">

        <mat-header-cell *matHeaderCellDef  mat-sort-header>Percentage</mat-header-cell>
  
        <mat-cell *matCellDef="let element">{{element.percentage}}</mat-cell>
  
      </ng-container>

      
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>
  
      <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   -->
  



   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"
                                         class="example-element-row"
                                         [class.example-expanded-row]="expandedElement === row"
                                         (click)="expandedElement = row"
                                     ></mat-row>
   <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>










    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

    
  
  </div>
  