
<nav class="col-md-2 d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link ">
          <i class="fas fa-user"></i>User Profile
        </a>
      </li>
      <!-- Calling SignOut() Api from AuthService -->
      <li class="nav-item">
        <a class="nav-link" (click)="authService.SignOut()">
          <i class="fas fa-sign-out-alt"></i>Log out
        </a>
      </li>
      <li class = "nav-item">
        <a class="nav-link active" routerLink="/editinfo" >
          <i class="fas fa-edit"></i>Edit Profile
        </a>
      </li>
      <li class = "nav-item">
        <a class="nav-link" >
          <i class="fas fa-user-times"></i>Delete Account
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="displayTable">
  <div class="displayTableCell">

    

    <div class="authBlock">
      <h3>Edit Profile</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Name" #Name required>
      </div>

      <div class="formGroup">
        <input type="number" class="formControl" placeholder="PhoneNumber" #phone required>
      </div>
      <div class="formGroupbig">
        <input type="text" class="formControlbig" placeholder="Address" #address required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn googleBtn" value="Submit" (click)="authService.UpdateUserData(address.value, Name.value, phone.value)">
      </div>

     

      <!-- Calling GoogleAuth Api from AuthService -->
     
    

  </div>
  <div class="forgotPassword">
    <span class="redirect" routerLink="/dashboard">Go back to your Profile?</span>
  </div>

</div>
</div>