<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div id="wrapper" class="active">  
    <!-- Sidebar -->
             
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Mufaza</a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li><a routerLink = "suppliers" >Supplier <span class="sub_icon glyphicon 	glyphicon glyphicon-send"></span> </a></li>
          <li><a routerLink="products">Products <span class="sub_icon glyphicon glyphicon-shopping-cart"></span></a></li>
          <li><a routerLink="promo">Promo<span class="sub_icon glyphicon glyphicon-gift"></span></a></li>
          <li><a routerLink="orders">Orders<span class="sub_icon glyphicon glyphicon-list"></span></a></li>
          <li><a routerLink="employees">Employee<span class="sub_icon glyphicon glyphicon-user"></span></a></li>
          <li><a routerLink="salaryemployee">Salary<span class="sub_icon glyphicon glyphicon-usd"></span></a></li>
          <li><a routerLink="delivery">Delivery<span class="sub_icon glyphicon glyphicon-road"></span></a></li>
          <li><a routerLink="tailoring">Tailoring<span class="sub_icon glyphicon glyphicon-road"></span></a></li>
          <li><a routerLink="trending">Trending<span class="sub_icon glyphicon glyphicon-export"></span></a></li>
          <li><a routerLink="customers">Customer<span class="sub_icon glyphicon glyphicon-user"></span></a></li>
          <!-- <li><a routerLink="[supplies,$key]">supplies<span class="sub_icon glyphicon glyphicon-road"></span></a></li> -->

       
        </ul> 
      </div>
      <router-outlet></router-outlet>
<!-- Sidebar -->

<!-- PageContent -->



<!-- <app-suppliers></app-suppliers> -->







 </div>
