<div class="card">
  <div class="card-body">
    <h4 class="card-title">Order Summary</h4>
    <p class="card-text">You have {{ cart.totalItemsCount }} items in your shopping cart.</p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cart.items" class="list-group-item">
        {{ item.quantity }} x {{ item.title }}
        <div class="float-right">
          {{ item.totalPrice | currency:'LKR':true }}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        Total
        <div class="float-right" [ngClass]="{'strike':promo === true}">
          {{ cart.totalPrice | currency:'LKR':true }}
        </div><br>
        <div class="float-right" *ngIf="promo === true">
          {{ newPrice | currency:'LKR':true }}
        </div>
      </li>
    </ul>
  </div>
</div>
<form class="block-margin card p-2">
  <div class="input-group">
    <input type="text"  name="promocode" class="form-control" [(ngModel)]="promocode" style="text-transform:uppercase" placeholder="Promo Code" [disabled]="promo"/>
    <div class="input-group-append">
      <button type="submit" class="btn btn-success" [disabled]= "!promocode || promo" (click)="promotion(promocode)">Redeem</button>
    </div>
  </div>
</form>
<div class="alert alert-success" role="alert" *ngIf="promo ===true">
  Discount Approved
</div>
<div class="alert alert-danger" role="alert" *ngIf="error === true">
  Promocode Not Valid
</div>
