<!-- Top navigation -->
<bs-navbar></bs-navbar>
<div class="container-fluid">
  <div class="row">
<app-profile-navbar></app-profile-navbar>
    <!-- Main content -->
   

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

       
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user" >
            
          <div class="col-md-12">
              <br>    <br>
              <br>
              <br>
              <br>
            <div class="media">

              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}">
                
              <div class="media-body">
                
                <h1>Welcome <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <h2><p>Email: <strong>{{user.email}}</strong></p></h2><br>
              </div>
            </div>

          </div>
          
            
        </div>
    
      </div>

     
   
    </main>

  </div>
</div>
