<form>
  <div class="col-xs-4">
      <label for="title">Title</label>
      <input id="title" type="text" class="form-control">
  </div>
  <br><br><br><br>
  <div class="form-group" class="col-xs-4">
      <label for="price">Price</label>
      <div class="input-group">
          <span class="input-group-addon">$</span>
          <input id="price" type="number" class="form-control">
      </div>
  </div>
  <br><br><br><br>
  <div class="form-group" class="col-xs-4">
      <label for="category">Category</label>
      <select id="category" class="form-control">
          <option value=""></option>
      </select>
  </div>
  <br><br><br><br>
  <div class="form-group" class="col-xs-4">
      <label for="imageUrl">ImageUrl</label>
      <select id="imageUrl" class="form-control">
          <option value=""></option>
      </select>
  </div>
  <br><br><br><br>
  <div class="form-group" class="col-xs-4">
      <button class="btn btn-primary">Save</button>
  </div>
</form>

