<mat-tab-group>
  
  <mat-tab label="Add Product"> 
      <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>Add New Product Form</span>
        <span class="fill-remaining-space"></span>
      </mat-toolbar>
      <form [formGroup]="service.form" class="normal-form" (submit)= "onSubmit()" style="padding-left : 5%">
        <mat-grid-list cols="2" rowHeight="400px" rowWidth="400px">
          <mat-grid-tile>
            <div class="controles-container2">
              <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <input [(ngModel)]="title" formControlName="title" matInput placeholder="Title*">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input [(ngModel)]="price" formControlName="price" matInput placeholder="Price" type="number">
                    <span matPrefix>LKR&nbsp;</span>
                    <span matSuffix>.00</span>
                    <mat-error>This field is mandatory.</mat-error>
                  </mat-form-field>
                          
                  <mat-form-field>
                    <mat-select [(ngModel)]="category" formControlName="category" placeholder="Category">
                      <mat-option>None</mat-option>
                        <ng-container *ngFor="let oType of ordType.array">
                           <mat-option value="{{oType.name}}">{{oType.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                  </mat-form-field>
        
                  <mat-form-field>
                    <input [(ngModel)]="imgUrl" formControlName="imgUrl" matInput placeholder="Image URL">
                  </mat-form-field>

                  <br><br>

                  <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                  </div>          
            </div>  
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="controles-container">
              <div class="card" style="width: 290px; height:400px">
                  <!-- <span class="border border-primary"> -->
                  <img [src] = "imgUrl" width="280px" height="300px" style="padding : 5px 5px 5px 5px;" class="card-img-top" class="rounded">
                    <div class="card-body">
                      <h3 class="card-title"><b>{{title}} </b> </h3>
                      <h4 class="card-text"> {{price | currency : 'LKR ' : true}}</h4>
                    </div>
                  <!-- </span> -->
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>  
        </form>     
  </mat-tab>

  <mat-tab label="Edit/ Delete Poduct">
   
  </mat-tab>

  <mat-tab label="Products Report">
      <mat-toolbar>
          <span class="fill-remaining-space"></span>
          <span>Products Report</span>
          <span class="fill-remaining-space"></span>
        </mat-toolbar>
     <table class="table">
        <thead>
          <tr> 
              <th></th>
              <th>#</th>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let oType of service.array; index as i">
            <td></td>
            <td>{{i + 1}}</td>
            <td>{{oType.title}}</td>
            <td>{{oType.category}}</td>
            <td>{{oType.price}}</td>
            <td><a routerLink="product,oType.$key">Edit</a></td>
          </tr>
        </tbody>
     </table>
  </mat-tab>
</mat-tab-group>
