<mat-grid-list cols="1" rowHeight="4:1">
        <mat-grid-tile>

                    <div class="controles-container2">
                            <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Employee ID" value="">
                                    </mat-form-field>

                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Employee Name:" value="">
                                     </mat-form-field>
                                     <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Designation:" value="">
                                         </mat-form-field>
                                        
        
                             </form>


                    </div>

                    <div class="controles-container2">
            

                            <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Date of joining:" value="">
                                         </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Bank Account Number" value="">
                                    </mat-form-field>

                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="PF Account Number:" value="">
                                     </mat-form-field>
                                    
                             </form>

                     </div>

        </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="4:1">


    <mat-grid-tile>
            <table class="table table-striped">
         
                <thead>
                        <tr>
                          
                          <th scope="col">Earnings</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Gross Salary</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>Allowance</td>
                          <td>
                               <span matSuffix>.00</span>
                           </td>
                          <td>
                               <span matSuffix>.00</span>
                          </td>
                        </tr>
                        <tr>
                           <td>Basic Salary</td>
                              <td>
                                      <span matSuffix>.00</span>
                              </td>
                              <td>
                                      <span matSuffix>.00</span>
                              </td>
                            </tr>
                            <tr>
                           <td>Total Earnings</td>
                                     <td>
                                          
                                          <span matSuffix>.00</span>
                                     </td>
                                     <td> 
                                           <span matSuffix>.00</span>
                                   </td>
                                   </tr>
                        </tbody>
             
            
          </table>

    </mat-grid-tile>

    <mat-grid-tile>
           
<table class="table table-striped">
  <thead>
  <tr>
    
    <th scope="col">Deduction</th>
    <th scope="col">Amount</th>
    <th scope="col">Gross Salary</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Tax</td>
    <td>
         <span matSuffix>.00</span>
     </td>
    <td>
         <span matSuffix>.00</span>
    </td>
  </tr>
  <tr>
     <td>Total Deduction</td>
        <td>
                <span matSuffix>.00</span>
        </td>
        <td>
                <span matSuffix>.00</span>
        </td>
      </tr>

    <tr>

      <tr>
            <th scope="col">Net Amount</th>
               <td>
                    
                    <span matSuffix>.00</span>
               </td>
               <td> 
                     <span matSuffix>.00</span>
             </td>
             </tr>
  </tbody>
</table>

    </mat-grid-tile>

</mat-grid-list>