<app-profile-navbar></app-profile-navbar>


<div class="displayTable">
  <div class="displayTableCell">

    

    <div class="authBlock">
      <h3>Update Profile</h3>

      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">You can change your display name and password for your account <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please enter the new display name or the new password in the text boxes below and click on the respective button to update the details.</p>
      </div>

      <div class="formGroup">
        <input type="name" class="formControl" placeholder="Enter Name" #name required>
      </div>
      
      <div class="formGroup" *ngIf="authService.userData as user">
        <button  class="btn btnPrimary" (click)="authService.Updatename(name.value)">
          <i class="fas fa-edit"></i>
          Update Name
        </button>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Enter Password" #password required>
      </div>

      <div class="formGroup" *ngIf="authService.userData as user">
        <button  class="btn btnPrimary" (click)="authService.UpdatePassword(password.value)">
          <i class="fas fa-edit"></i>
          Update password
        </button>
      </div>

      

    </div>

   
  </div>
</div>

