<app-profile-navbar></app-profile-navbar>


<div class="displayTable">
  <div class="displayTableCell">

    

    <div class="authBlock">
      <h3>Change Password</h3>

      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">You can change your password for your account <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please enter the new password in the text box below and click on the button to update the password.</p>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="New Password" #password required>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup" *ngIf="authService.userData as user">
        <button  class="btn btnPrimary" (click)="authService.UpdatePassword(password.value)">
          <i class="fas fa-edit"></i>
          Update password
        </button>
      </div>

    </div>

   
  </div>
</div>

