<!--<mat-tab label="Rider List">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>Rider List</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>-->

    <div class="search-div" style="padding-left : 20%">

      <button mat-raised-button>
    
        <mat-icon>add</mat-icon>Create
    
      </button>
    
      <mat-form-field class="search-form-field" floatLabel="never">
    
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    
        <button mat-button matSuffix mat-icon-button aria-label="Clear"  (click)="onSearchClear()">
    
          <mat-icon>close</mat-icon>
    
        </button>
    
      </mat-form-field>
    
    </div>

    <div class="mat-elevation-z8">

      <mat-table [dataSource]="listData"  matSort>

          <ng-container matColumnDef="#">
    
              <mat-header-cell *matHeaderCellDef  mat-sort-header>#</mat-header-cell>
        
              <mat-cell *matCellDef="let element; index as i">{{i + 1}}</mat-cell>
        
            </ng-container>
    
        <ng-container matColumnDef="riderName">
    
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Name</mat-header-cell>
    
          <mat-cell *matCellDef="let element">{{element.riderName}}</mat-cell>
    
        </ng-container>
  
        <ng-container matColumnDef="riderAddress">
  
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Address</mat-header-cell>
    
          <mat-cell *matCellDef="let element">{{element.riderAddress}}</mat-cell>
    
        </ng-container>

        <ng-container matColumnDef="riderMobile">
    
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Mobile</mat-header-cell>
    
          <mat-cell *matCellDef="let element">{{element.riderMobile}}</mat-cell>
    
        </ng-container>

        <ng-container matColumnDef="riderEmail">
    
          <mat-header-cell *matHeaderCellDef  mat-sort-header>E-mail</mat-header-cell>
    
          <mat-cell *matCellDef="let element">{{element.riderEmail}}</mat-cell>
    
        </ng-container>

        <ng-container matColumnDef="bikenumber">
    
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Bike Number</mat-header-cell>
    
          <mat-cell *matCellDef="let element">{{element.bikenumber}}</mat-cell>
    
        </ng-container>
        
  
      <ng-container matColumnDef="actions">
  
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
    
          <mat-cell *matCellDef="let row">
    
            <button mat-icon-button><mat-icon>launch</mat-icon></button>
    
            <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
    
          </mat-cell>
    
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
        
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

    </div>
 
<!--</mat-tab>-->
