<!--<mat-tab label="Add Rider"> 
    <mat-toolbar>
      <span class="fill-remaining-space"></span>
      <span>Add New Rider</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>-->


    
    <form [formGroup]="service.form" class="normal-form" (submit)= "onSubmit()" style="padding-left : 35%">
      <mat-grid-list cols="2" rowHeight="400px" rowWidth="400px">
        <mat-grid-tile>
          <div class="controles-container2">
            <input type="hidden" formControlName="$key">
              <mat-form-field>
                  <input formControlName="riderName" matInput placeholder="Name">
                  <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input formControlName="riderAddress" matInput placeholder="Address">
            </mat-form-field>
                        
            <mat-form-field>
                <input formControlName="riderMobile" matInput placeholder="Mobile" type="number">
                <mat-error >This field is mandatory.</mat-error>
                <!--><mat-error >10 characters required</mat-error>-->
            </mat-form-field>
      
            <mat-form-field>
                <input formControlName="riderEmail" matInput placeholder="Email">
                <mat-error>Invalid Email</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input formControlName="bikenumber" matInput placeholder="Bike Number" type="number">
                <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>

                <br><br>

                <div class="button-row" style="padding-left : 20%">
                  <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                  <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>  
          </div>  
        </mat-grid-tile>
        </mat-grid-list>  
      </form>    

<!--</mat-tab>-->
