<h1>My Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Date Placed</th>
      <th>Total Price</th>
      <th>New Price</th>
      <th>Product Titles & Quantities</th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date}}</td> 
      <td>Rs. {{ order.totalprice}}</td>
      <td>Rs. {{ order.newprice}}</td>
      <td *ngFor="let key of objectKeys(order.items)">{{order.items[key].title}} - {{order.items[key].quantity}} <br></td>  
      
    </tr>

    
  </tbody> 

</table>