<h1 style="margin-left: 460px">Thank you!</h1>
<p style="margin-left: 320px">We received your order and will process it within the next 24 hours!</p><br/>

<h5 style="margin-left: 370px; color: crimson">Please go through the following process</h5>
<div class="card">
<div style="margin-left: 320px" class="card-body">
<strong>1. Deposit your payment to one of our bank accounts</strong> 
<br/><br/>
<p>**Sampath Bank - 00084329900234</p>
<p>**BOC          - 55390290032244</p>
<strong>2. Email the payment receipt to the following email address</strong> 
<br/><br/>
<p>**mufaza321@gmail.com</p>
</div>
<div class="card">
    <div style="margin-left: 400px" class="card-body">
    <strong style="margin-left: 38px">For Further Information</strong>
        <p style="margin-left: 20px; color: brown">Tel:  0776578954/0112779356</p>
</div>
    </div>
</div>
<button class="btn btn-primary" routerLink="/" style="margin-left: 470px" >Back To Home Page</button>