<mat-tab-group>
  
<mat-tab label="Add User"> 
 <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>Add User Form</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)= "onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container2">
          <input type="hidden" formControlName="$key">
          
          <mat-form-field>
                <input formControlName="empId" matInput placeholder="Employee ID">
          </mat-form-field>
          <mat-form-field>
                <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
                
              </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
            <mat-form-field>
                <input formControlName="position" placeholder="Position" matInput [matAutocomplete]="auto" aria-label="Number">
                <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let position of positions" [value]="position">{{position}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>

        </div>       
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-tab>
<mat-tab label="Internal Users">
  <mat-toolbar>
      <span class="fill-remaining-space"></span>
      <span>Internal Users</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>

    <div class="mat-elevation-z8">

        <mat-table [dataSource]="listData"  matSort>

            <ng-container matColumnDef="#">
      
                <mat-header-cell *matHeaderCellDef  mat-sort-header>#</mat-header-cell>
          
                <mat-cell *matCellDef="let element; index as i">{{i + 1}}</mat-cell>
          
              </ng-container>
              <ng-container matColumnDef="empID">
      
                <mat-header-cell *matHeaderCellDef  mat-sort-header>Employee ID</mat-header-cell>
          
                <mat-cell *matCellDef="let element">{{element.userId}}</mat-cell>
          
              </ng-container>
      
          <ng-container matColumnDef="position">
      
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Position</mat-header-cell>
      
            <mat-cell *matCellDef="let element">{{element.position}}</mat-cell>
      
          </ng-container>
    
          <ng-container matColumnDef="password">
    
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Password</mat-header-cell>
      
            <mat-cell *matCellDef="let element">{{element.password}}</mat-cell>
      
          </ng-container>
    
        <ng-container matColumnDef="actions">
    
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
      
            <mat-cell *matCellDef="let row">
      
              <button mat-icon-button><mat-icon>launch</mat-icon></button>
      
              <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
      
            </mat-cell>
      
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
          
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    
        
      </div>
</mat-tab>
</mat-tab-group>